#header,
#footer{
text-align: center;
}

#main,
#nav{
display: flex;
}

#main{
justify-content: center;
}

#nav{
flex-direction: column;
}

.icon-button>a{
text-align: center;
border-radius: 50%;
padding: 5px;
overflow: hidden; /* Webfont‚ªborder‚ð’´‚¦‚È‚¢‚æ‚¤‚É‚·‚é */
}
    #nav.icon-button>a{
    color: white; /* Webfont */
    flex-basis: 5em;
    margin-top: 10px;
    }
        #nav>a:first-child{
        margin-top: 0;
        }
    #sns.icon-button{
    text-align: center;
    }
        #sns.icon-button>a{
        margin-right: 10px;
        }
    #sns.icon-button>a:nth-child(1){
    color: black;
    }
    #sns.icon-button>a:nth-child(2){
    color: aqua;
    }
    #sns.icon-button>a:nth-child(3){
    color: crimson;
    }


#content{
width: 600px;
border: solid 3px dimgray;
border-radius: 1em;
}
    #content td:first-child{
    text-align: right;
    border-right: groove;
    font-weight: bold;
    }
    #content>h2{
    border-bottom: dashed 2px gray;
    text-align: center;
    }
        #content>h2::before{
        content: '>';
        }
        #content>h2::after{
        content: '_';
        }

#footer{
color: darkgray;
}

.nav-mouse-over>a{
background-color: lightgray;
}
    .nav-mouse-over>a:hover{
    background-color: black;
    }

.place-caret{
position: relative;
margin-left: 30px; /* –îˆó•ª‹ó‚¯‚é */
padding: 10px;
}
    .place-caret>*[class~="caret-set-left-home"]{
    position: absolute;
    top: 5px;
    left: -30px;
    color: #fff;
    -webkit-text-stroke: 4px dimgray;
    }
    .place-caret>*[class~="caret-set-left-profile"]{
    position: absolute;
    top: 100px;
    left: -30px;
    color: #fff;
    -webkit-text-stroke: 4px dimgray;
    }
    .place-caret>*[class~="caret-set-left-sns"]{
    position: absolute;
    top: 200px;
    left: -30px;
    color: #fff;
    -webkit-text-stroke: 4px dimgray;
    }

